body {
    display: flex;
    justify-content: center;
}
.week-changer {
    width: 200px;
}

.top-bar {
    display: flex;
    justify-content: center;
    margin-top: -35px;
    font-size: 20px;

}

/*.arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: row;
    width: 60px;
    position: absolute;
  
}

.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: row;
    width: 60px;
    position: absolute;
    margin-left: 50px;
}*/
